<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <style>
        .menu-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            background-color: grey;
            color: white;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Escolha uma opção</h1>
    <a href="/ensinoMedio" class="menu-button">Ensino Médio</a>
    <a href="/ensinoSuperior" class="menu-button">Ensino Superior</a>
    <a href="/HorariosProfessores" class="menu-button">Horários Professores</a>
    <a href="#" class="menu-button">Salas Professores</a>
</body>
</html>